#main-navbar {
  background-color: #f0f8ff;
  overflow: hidden;
 
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #fff;
}

#onpage {
  text-decoration: underline overline;
}
*{ box-sizing: border-box;
}
.sidebar {
  float: left;
  height: 400px;
  padding: 10px;
}
.left{
  width:22%
}
.dope{
  background: #5f9ea0;
  text-align: center;
  width: 450px;
  border: 1px solid black;
  margin: 0 10px 30px;
  
}
/* resume */

.resume { 
  background-color: #800000;
  color: black;
  width: 100%;
  height: 100%;
  overflow: show;
  margin: auto;
  padding: 50px;
  font-size: 15px;
}
#resume-info{
  background-color: #FFFAF0;
  text-align: center;
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  padding: 20px;
}
#skills{
  background-color: #FFFAF0;
  text-align: center;
  height: 150px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid black;
}
#experience{
  background-color: #FFFAF0;
  text-align: center;
  height: 500px;
  width: 40%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid black;
}
#education-hs{
  float:left;
  background-color: #FFFAF0;
  text-align: left;
  height: 350px;
  width: 30%;
  position: relative;
  margin-left: 200px;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid black;
}
#education-col{
  background-color: #FFFAF0;
  text-align: left-side;
  float: right;
  height: 350px;
  width: 30%;
  position: relative;
  margin-right: 200px;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid black;


  
  




